@import "../template";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.main__maxwhite {
   max-width: 1440px;
   width: 100%;
   min-height: 975px;
   background-color: rgba(235, 235, 235, 1);
   .maxwhite__contayner {
      max-width: 1110px;
      width: 100%;
      min-height: 793px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      .result__contayner {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 30px;
         margin-top: 90px;
         color: $text-color;
         font-size: 18px;
         font-family: Roboto;
         font-style: normal;
         font-weight: 400;
         line-height: 150%;
         .result__inner {
            max-width: 350px;
            width: 100%;
            min-height: 118px;
            .result__content {
               display: flex;
               align-items: center;
               justify-content: space-between;
               gap: 30px;
            }
         }
      }
      .title-content__contayner {
         min-height: 564px;
         margin-top: 90px;
         display: flex;
         align-items: center;
         gap: 30px;
         .title-content {
            font-size: 40px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            margin-bottom: 20px;
            .title-content__desc {
               font-size: 18px;
               font-family: Roboto;
               font-style: normal;
               font-weight: 400;
               line-height: 170%;
            }
         }
      }
   }
}
